
body {
    background-color: #f1f1f1;
    color: #0f141e;
    font-size: 16px;
    font-weight: normal;
    font-family:  monospace;
    
}

a {
    color: blue;
    text-decoration: none;
    font-weight: bold;
    
}

a:hover {
    text-decoration: underline;
}



.avatar {
width: 200px;
height: 200px;
border-radius: 30px;
box-shadow: 4px 4px 14px rgba(0, 0, 0, 25)
}

.info {
    display: flex;
margin-bottom: 20px;

}

@media (max-width: 1200px) {
    .info {
        text-align: center;
        display: block;
    }
}

.info-text {
    margin-left: 40px;
}

.info-text h4 {
    margin-bottom: 10px;
}

.info p {
color: #86898f;
margin: 0;
font-style: italic;
font-weight: bold;
text-decoration: none;

}



.container {
    max-width: 750px;
    margin: auto;
    padding-top: 30px;
}



.bg-yellow {
    background: #8ED7EF;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 25)
}



.bg-green {
    background: #BEE9F8;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 25)
}


.bg-red {
    background: #D9F2FB;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 25)
}



.card {
    padding: 15px 20px;
    margin-bottom: 20px;
    border-radius: 20px;
}

.card h2 {
margin-bottom: 10px;
}

.table {
    width: 100%;
}

.table td {
   padding-bottom: 10px;
}

.table td:nth-child(2), table td:nth-child(3) {
    color: #5e5e5e;
}

.course {
    list-style: square;
    padding: 0;
}

.course {
    margin-bottom: 10px;
    padding-bottom: 5px;
   
}

.contactvith h2 {
    text-align: center; 
}

.form-groupe label {
    display: block;
    font-size: 14px;
    color: #000000;
    font-weight: bold;
}

.form-groupe input,
.form-groupe textarea {
    width: 100%;
    box-sizing: border-box;
    border: none;
    background: transparent ;
    border-bottom: 1px solid rgb(102, 102, 102);
    color: #000;
    padding: 15px 0 10px;
    outline: none;
    font-family: inherit;
}

.row {
    display: flex;
    margin-bottom: 20px;
    

}

.row > .form-groupe {
    width: 50%;
}

.row > .form-groupe:first-child {
margin-right: 20px;
}


.btn:hover {
    opacity: 0.7;

}
